<h4>for: <%= forecast.date %></h4>
<p>
  <ul>
    <%= data("Date", forecast.date) %>
    <%= data("Icon", forecast.icon) %>
    <%= data("Condition", forecast.condition) %>
    <%= data("High", forecast.high) %>
    <%= data("Low", forecast.low) %>
    <%= data("POP", forecast.pop) %>
    <%= data("Humidity", forecast.humidity) %>
    <% if forecast.wind %>
    <%= data("Wind Speed", forecast.wind) %>
    <%= data("Wind Direction", forecast.wind.direction) %>
    <%= data("Wind Degrees", forecast.wind.degrees) %>
    <% end %>
    <% if forecast.sun %>
    <%= data("Sun Rise", forecast.sun.rise) %>
    <%= data("Sun Set", forecast.sun.set) %>
    <% end %>
  </ul>
  <% if forecast.night %>
  <ul>- Night -
    <%= data("Date", forecast.night.date) %>
    <%= data("Date", forecast.night.icon) %>
    <%= data("Date", forecast.night.condition) %>
    <%= data("Date", forecast.night.pop) %>
    <%= data("Date", forecast.night.humidity) %>
    <% if forecast.night.wind %>
    <%= data("Wind Speed", forecast.night.wind) %>
    <%= data("Wind Direction", forecast.night.wind.direction) %>
    <%= data("Wind Degrees", forecast.night.wind.degrees) %>
    <% end %>
  </ul>
  <% end %>
</p>