<h2 id='demo'>Measure the weather for:</h2>

<br/>
<form action="/" class="" id="" method="post">
  <div class="text-input">
    <input id="query_q" name="query[q]" size="25" type="text" />
  </div>
  <div class="submit-input">
    <input src="/images/go.png" type="image" value="go &rarr;" />
  </div>
  <br/>
  <div class="options-input">
    Metric? :
      <input id="query_metric" name="query[metric]" type="checkbox" value="1" checked="checked" />
    <br/>
    Source :
      <input type="checkbox" name="query[source]" value="wunderground" checked="checked" /> Wunderground
      <input type="checkbox" name="query[source]" value="yahoo" /> Yahoo
      <input type="checkbox" name="query[source]" value="google" /> Google
      <input type="checkbox" name="query[source]" value="weather_dot_com" /> Weather.com
    <br/>
    Force Geocode? :
      <input id="query_geocode" name="query[geocode]" type="checkbox" value="1" checked="checked" />
  </div>
</form>

<p>&nbsp;</p>
<br/>

<% if params[:query] && !params[:query][:q].empty? %>
<h2>query: "<%= params[:query][:q] %>"</h2>
<% end %>

<% if @weather %>

  <h2>Averages</h2>
  <p>
    <ul>
      <%= data("Humidity", @weather.humidity.to_i) %>
      <%= data("Temperature", @weather.temperature) %>
      <%= data("Wind", @weather.wind) %>
      <%= data("Pressure", @weather.pressure) %>
      <%= data("Dew Point", @weather.dew_point) %>
      <%= data("Heat Index", @weather.heat_index) %>
      <%= data("Wind Chill", @weather.wind_chill) %>
      <%= data("Visibility", @weather.visibility) %>
    </ul>
  </p>
  
  <h2>Summary</h2>
  <p>
    <ul>
      <%= data("Day?", @weather.day?) %>
      <%= data("Sunny?", @weather.sunny?) %>
      <%= data("Windy?", @weather.windy?) %>
      <%= data("Wet?", @weather.wet?) %>
    </ul>
  </p>
  
  <% if @barometer.query %>
  <h3>Query</h3>
  <p>
    <ul>
      <%= data("Query", @barometer.query.q) %>
      <%= data("Format", @barometer.query.format) %>
      <%= data("Country Code", @barometer.query.country_code) %>
    </ul>  
    <% if @barometer.query.geo %>
    <ul> - Geo -
      <%= data("Query", @barometer.query.geo.query) %>
      <%= data("Address", @barometer.query.geo.address) %>
      <%= data("Locality", @barometer.query.geo.locality) %>
      <%= data("Region", @barometer.query.geo.region) %>
      <%= data("Country", @barometer.query.geo.country) %>
      <%= data("Country Code", @barometer.query.geo.country_code) %>
      <%= data("Latitude", @barometer.query.geo.latitude) %>
      <%= data("Longitude", @barometer.query.geo.longitude) %>
    </ul>  
    <% end %>
  </p>
  <% end %>

  <% @weather.measurements.each do |measurement| %>
    <%= erb(:measurement, :locals => { :measurement => measurement }, :layout => false) %>
  <% end %>
  
<% end %>