<h2><%= measurement.source.to_s.capitalize %></h2>
<p>
  <ul>
    <%= data("Measured At", measurement.measured_at) %>
    <%= data("Source", measurement.source) %>
    <%= data("Time Stamp", measurement.utc_time_stamp) %>
    <%= data("Metric", measurement.metric?) %>
    <%= data("Success", measurement.success?) %>
    <%= data("Service Time", "#{(measurement.end_at - measurement.start_at)} s") %>
  </ul>
  <ul>- Modified Query -
    <%= data("Query", measurement.query) %>
    <%= data("Format", measurement.format) %>
  </ul>
</p>

<% if measurement.location %>
<h3>Location</h3>
<p>
  <ul>
    <%= data("id", measurement.location.id) %>
    <%= data("Name", measurement.location.name) %>
    <%= data("City", measurement.location.city) %>
    <%= data("State Name", measurement.location.state_name) %>
    <%= data("State Code", measurement.location.state_code) %>
    <%= data("Country", measurement.location.country) %>
    <%= data("Country Code", measurement.location.country_code) %>
    <%= data("Zip Code", measurement.location.zip_code) %>
    <%= data("Latitude", measurement.location.latitude) %>
    <%= data("Longitude", measurement.location.longitude) %>
  </ul>
</p>
<% end %>

<% if measurement.station %>
<h3>Station</h3>
<p>
  <ul>
    <%= data("id", measurement.station.id) %>
    <%= data("Name", measurement.station.name) %>
    <%= data("City", measurement.station.city) %>
    <%= data("State Name", measurement.station.state_name) %>
    <%= data("State Code", measurement.station.state_code) %>
    <%= data("Country", measurement.station.country) %>
    <%= data("Country Code", measurement.station.country_code) %>
    <%= data("Zip Code", measurement.station.zip_code) %>
    <%= data("Latitude", measurement.station.latitude) %>
    <%= data("Longitude", measurement.station.longitude) %>
    </ul>
  </ul>
</p>
<% end %>

<% if measurement.timezone %>
<h3>Timezone</h3>
<p>
  <ul>
    <%= data("Long", measurement.timezone.full) %>
    <%= data("Code", measurement.timezone.code) %>
    <%= data("DST?", measurement.timezone.dst?) %>
    <%= data("Now", measurement.timezone.now(true)) %>
    <%= data("Today", measurement.timezone.today) %>
  </ul>
</p>
<% end %>

<% if measurement.current %>
<h3>Current</h3>
<p>
  <ul>
    <%= data("Measured At", measurement.current.current_at) %>
    <%= data("Updated At", measurement.current.updated_at) %>
    <%= data("Humidity", measurement.current.humidity) %>
    <%= data("Icon", measurement.current.icon) %>
    <%= data("Condition", measurement.current.condition) %>
    <%= data("Temperature", measurement.current.temperature) %>
    <%= data("Dew Point", measurement.current.dew_point) %>
    <%= data("Heat Index", measurement.current.heat_index) %>
    <%= data("Wind Chill", measurement.current.wind_chill) %>
    <% if measurement.current.wind %>
    <%= data("Wind Speed", measurement.current.wind) %>
    <%= data("Wind Direction", measurement.current.wind.direction) %>
    <%= data("Wind Degrees", measurement.current.wind.degrees) %>
    <% end %>
    <%= data("Pressure", measurement.current.pressure) %>
    <%= data("Visibility", measurement.current.visibility) %>
    <% if measurement.current.sun %>
    <%= data("Sun Rise", measurement.current.sun.rise) %>
    <%= data("Sun Set", measurement.current.sun.set) %>
    <% end %>
  </ul>
</p>
<% end %>

<% if measurement.forecast %>
<h3>Forecast</h3>

<% measurement.forecast.each do |forecast| %>
  <%= erb(:forecast, :locals => { :forecast => forecast }, :layout => false) %>
<% end %>

<% end %>
